{% extends 'quotes/base.html' %}

{% block content %}

<h1>Quotes with tag: {{ tag_name }}</h1>

<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                 {{ quote.quote }}
            </span>
            <span>by <small class="author" itemprop="author">
                {{ quote.author.fullname }}
            </small>
            <a href="{% url 'quotes:author_about' author_id=quote.author.id %}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:tags' tag_name=tag.name %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% empty %}
        <p>No quotes found for this tag.</p>
        {% endfor %}

        <nav>
            <ul class="pager">
                <li class="previous">
                    <a class="{% if not quotes.has_previous %} disabled {% endif %}"
                       href="{% if quotes.has_previous %} {% url 'quotes:tags_with_page' tag_name=tag_name page=quotes.previous_page_number %} {% else %} # {% endif %}">
                        <span aria-hidden="true">←</span> Previous
                    </a>
                </li>
                <li class="next">
                    <a class="{% if not quotes.has_next %} disabled {% endif %}"
                       href="{% if quotes.has_next %} {% url 'quotes:tags_with_page' tag_name=tag_name page=quotes.next_page_number %} {% else %} # {% endif %}">
                        Next <span aria-hidden="true">→</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

{% endblock %}
